<form [formGroup]="form">
  <p>
    <mat-form-field floatLabel="always" appearance="legacy">
      <mat-label>Default Form</mat-label>
      <input
        formControlName="default"
        matInput
        [value]="default.value"
        placeholder="Deafult with no error"
      />
      <mat-icon
        *ngIf="default.value.length > 0"
        matSuffix
        (click)="default.value = ''"
        >cancel</mat-icon
      >
      <mat-hint> <mat-icon>info</mat-icon>This is a deafult form</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="legacy">
      <mat-label>Form With Email Error</mat-label>

      <input
        formControlName="email"
        matInput
        [value]="email.value"
        placeholder="example@domain.com"
      />
      <mat-icon
        *ngIf="email.value.length > 0"
        matSuffix
        (click)="email.value = ''"
        >cancel</mat-icon
      >
      <mat-error *ngIf="email.invalid">
        <mat-icon>info</mat-icon>{{ getErrorMessage() }}</mat-error
      >
      <mat-hint>
        <mat-icon>info</mat-icon>This form contain email checking
        error</mat-hint
      >
    </mat-form-field>
  </p>
  <p>
    <mat-form-field floatLabel="always" appearance="legacy">
      <mat-label>Disabled Form</mat-label>
      <input formControlName="disabled" [disabled]="true" matInput />
      <mat-hint><mat-icon>info</mat-icon>This form is disabled</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="legacy">
      <mat-label>Read only Form</mat-label>
      <input formControlName="readonly" [readonly]="true" matInput />
      <mat-hint><mat-icon>info</mat-icon>This form is read only</mat-hint>
    </mat-form-field>
  </p>
</form>
